mixin form-order(addclass)
    form.form-order.popup(action="assets/sendmail.php", method="POST", class= addclass)#form-order
        h3.form-order__title Запишитесь на бесплатную консультацию
        input(type="hidden" name="form" value="form-order")
        input(type="text" name="name" placeholder="Ваше имя").input.form-order__input
        input(type="tel" name="phone" placeholder="Ваш телефон").input.form-order__input.js-phone-field
        button(type="submit").button.form-order__button Записаться
        p.form-order__privacy Все данные строго конфиденциальны

mixin popup-thankyou(addclass)
    .popup-thankyou.popup(class= addclass)#popup-thankyou
        h3.popup-thankyou__title Спасибо!
        p.popup-thankyou__text Спасибо, что оставили заявку. Мы свяжемся с Вами в самое ближайшее время.
        button.button.popup-thankyou__button.js-close-button Закрыть

mixin popup-privacy(addclass)
    .popup-privacy.popup#popup-privacy(class= addclass)
        .popup-privacy__content
            h2 Информация о политике конфиденциальности на сайте SITENAME.RU

            p Мы признаем важность конфиденциальности информации. В этом документе описывается, какую личную информацию мы получаем и собираем, когда вы пользуетесь сайтом <a href="http://sitename.ru/">http://sitename.ru/</a>

            p Мы надеемся, что эти сведения помогут вам принимать осознанные решения в отношении предоставляемой нам личной информации.

            h3 Общедоступная информация

            p Если вы просто просматриваете сайт без регистрации, информация о вас не публикуется на сайте.

            h3 Электронная почта, телефон и другие контакты

            p Адрес электронной почты, телефон и другие способы связи, указываемые Вами при заказе обратного звонка, не показывается другим посетителям сайта.

            p Мы можем сохранять сообщения электронной почте и другие письма, отправленные пользователями, чтобы обрабатывать вопросы пользователей, отвечать на запросы и совершенствовать наши службы.

            h3 Протоколирование
                
            p При каждом посещении сайта наши серверы автоматически записывают информацию, которую ваш браузер передает при посещении веб-страниц. Как правило эта информация включает запрашиваемую веб-страницу, IP-адрес компьютера, тип браузера, языковые настройки браузера, дату и время запроса, а также один или несколько файлов cookie, которые позволяют точно идентифицировать ваш браузер.

            h3 Куки (Cookie)

            p На сайте <a href="http://sitename.ru/">http://sitename.ru/</a> используются куки (Cookies), происходит сбор данных о посетителях с помощью сервисов Яндекс Метрика. Эти данные служат для сбора информации о действиях посетителей на сайте, для улучшения качества его содержания и возможностей.

            p В любое время вы можете изменить параметры в настройках вашего браузера таким образом, чтобы браузер перестал сохранять все файлы cookie, а так же оповещал их об отправке. При этом следует учесть, что в этом случае некоторые сервисы и функции могут перестать работать.

            h3 Изменение Политики конфиденциальности

            p На этой странице вы сможете узнать о любых изменениях данной политики конфиденциальности. В особых случаях, вам будет выслана информация на Ваш e-mail.

            h3 Обратная связь

            p Вы можете задать любые вопросы, написав на e-mail: <a href="mailto:mail@sitename.ru">mail@sitename.ru</a>
