container(w = 1000px)
    display block
    max-width w
    margin 0 auto
    position relative

font(face = Regular)
    if face == Regular
        font-family "MyriadProRegular", sans-serif
    if face == Bold
        font-family "MyriadProBold", sans-serif
