doctype html

// Верстка и программирование сайта: http://web-master-pro.ru 

html(lang="ru")

    head
        meta(charset="utf-8")
        title ПРОЕКТ | Список страниц проекта

        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
        meta(name="generator" content="web-master-pro.ru")

        style.
            body {min-width: 320px; color: #444; font-size: 18px; font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';font-weight: normal; line-height: 1.2; background-color: #fff; padding: 20px; margin: 0;}
            .page__in {display: block; width: 100%; max-width: 800px; margin: 0 auto;}
            .page__text {margin: 0 0 1.25em}
            .page__title {font-size: 28px;}
            .page__title-2 {font-size: 20px;}
            .page__title-3 {font-size: 18px; font-weight: normal;}
            .page__link {color: #036; text-decoration: underline;}
            .page__link:hover {color: #c00;  text-decoration: none;}
            .page__link--disabled, .page__link--disabled:hover {color: #999; cursor: default; text-decoration: underline;}
            .page__block {padding-left: 20px;}
            .page__line {color: #555; background-color:#555; border: none; height: 1px; margin: 0 0 1.25em;}

    body.page
        .page__in

            h1.page__title Список страниц проекта "ПРОЕКТ"
            //- p.page__text Архив со всеми файлами: <a href="project.zip" target="_blank" class="page__link">project.zip</a>
            //- hr.page__line

            p.page__text 1. <a href="home.html" target="_blank" class="page__link"> Главная страница</a>

            hr.page__line

            h2.page__title-2 2. Внутренняя страница </h3>
            .page__block
                p.page__text 2.1 <a href="inner-left.html" target="_blank" class="page__link">cайдбар слева<a>
                p.page__text 2.2 <a href="inner-right.html" target="_blank" class="page__link">cайдбар справа<a>


