.header
    width: 100%;
    position: relative;

    &__inner
        container(1000px)
        padding 40px 20px

    &__logo
        display block
        width 250px
        height 150px
        background-image embedurl("../../svg/logo.svg", "utf8")
        margin 0 auto 40px

    &__title
        text-align center
